/* common shared styles */

body{
     font-family: 'Open Sans', sans-serif; 
}

.about-section-title{
    color:#181818;
    text-align: center;
    font-family: "Open Sans"; 
    font-size: 30px;
    font-weight: 700; 
    line-height: normal;
     

}

.about-section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   
}

.text-primary{

    color: #FD6E0A;

   
}

.nav-title{
    padding-right: 300px;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0; 
    color: #ffffff;
    font-size: 20px;
    font-style: normal; 
    font-weight: 600;
    padding: 15px 30px;
    
    
} 



/*nav related styles */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 0px 150px;




}

 nav > ul{

    display: flex;
    align-items: center;
} 


 .nav-title{
font-family: "Open Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
} 


nav li{
    list-style: none;
    margin-right: 50px; 
    


}

  nav  a{
     text-decoration: none; 

    color: #474747;
}  



/* header related styles */

.header{

    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left ;
    background-size: 600px , 80px;
    
    
    
}


 .banner{

    padding: 30px 30px 0px 150px;   
    display:flex;
    align-items: center; 
    justify-content: space-between;  

} 

.banner .profile-pic{
    width: 400px;
}


.banner-greeting{

    font-size: 30px;
    color: #474747;
     margin-bottom: 0; 
}

.banner-title{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: #181818;
    margin-top: 5px; 
     margin-bottom: 20px; 

}   

 .banner-content{
    max-width: 500px;
    


} 


.banner-description{
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
     width: 585px; 
}



/* main section styles */

 main{
    max-width: 1140;
    justify-content:center;
    margin: 0 auto;
} 

main section{
    margin-top: 130px;
}




/* about section styles */

.about{
    padding: 135px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;  
}

.about-info-container{
    display:flex;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    
}

.about-info{
    text-align: center;
}

/* .info-title{
    color: #757575;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
} */

/* skill related styles */

#what-i-do-section-description{
    text-align: center;
    padding: 30px 140px ;
    line-height: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.skills-container{
    display: flex;
    gap: 24px;  
    padding: 100px;  
 
}

.skills{
    border-radius: 5px; 
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.06); 
    
  
}


.skill-title{
 
}

.skills-description{
    color: #757575;
}


/* Resume-section-styles */

.resume-section-title{
    text-align: center;
    
   

    font-size: 35px;
}

.resume-column{
     text-align: center; 
     
}

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
   
}


.resume-column-item-title{
     color: #474747; 
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
     margin-bottom: 10px; 
    
}

.resume-container{
    display:flex;
    align-items: center;

     gap: 60px; 

     margin-left: 25px;
     margin-right: 25px;  
}

.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    
}

.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-description{
  color:   #757575;
  font-size: 20px;
  font-weight: 600px;
  padding-left: 5px;

 
 
}

.resume-container hr{
      margin: 20px;  
    margin-bottom: 60px;
}

.download-cv{
    text-align: center;
   margin-top: 50px;
}


/* footer styles */

footer{
    display: flex;
    font-size: 35px;
    color: #181818;
    margin-top:100px; 
    margin-left: 150px;  
    gap: 100PX;  
   
     
    
}

.lets-connect-description{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    width: 450px;
    

}

.social-links a{
    margin-right: 20px;  
    width: 24px;
    height: 24px;
       
}


 .footer-column{
     
      width: 50%; 
}
 

.lets-massage-me-contact-form input , textarea {
    
display: block;
margin-bottom: 20px;     
border: 0;   
padding: 18px 35px; 
border-radius: 5px;




}



.submit{
    
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600; 
    padding: 15px 30px;
    border: 0; 
    font-style: normal;
   
    
   

}